<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codedan.mapper.OauthApprovalsMapper">

    <resultMap id="BaseResultMap" type="cn.codedan.model.entity.OauthApprovals">
            <result property="userid" column="userId" jdbcType="VARCHAR"/>
            <result property="clientid" column="clientId" jdbcType="VARCHAR"/>
            <result property="scope" column="scope" jdbcType="VARCHAR"/>
            <result property="status" column="STATUS" jdbcType="VARCHAR"/>
            <result property="expiresat" column="expiresAt" jdbcType="TIMESTAMP"/>
            <result property="lastmodifiedat" column="lastModifiedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,clientId,scope,
        STATUS,expiresAt,lastModifiedAt
    </sql>
</mapper>
